* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
}

body {
    font-family: Montserrat;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.defolt_width {
    max-width: 1480px;
    margin: 0 auto;
    padding: 8px 20px;
}

.left {
    display: flex;
}

.wrap {
    margin-left: 14px;
}

.wrap h1 {
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    color: #231F20;
    font-family: Panton;
}

.wrap p {
    font-weight: 600;
    font-size: 9.3px;
    line-height: 11px;
    color: #231F20;
}

main p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

main {
    display: flex;
    flex-direction: column;
}

main p span {
    color: #FF2E65;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 7px;
}

.right {
    display: flex;
    align-items: center;
}

.order {
    background: #F3F3F7;
    border-radius: 28px;
    color: #696F7A;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 27px;
    line-height: 28px;
}

.perpell {
    font-weight: bold;
    font-size: 26px;
    color: #FF2E65;
    line-height: 32px;
    margin-left: 28px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.left_nav ul {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    transition: 0.2s;
}

.left_nav ul li {
    list-style: none;
    transition: 0.2s;
}

.left_nav ul li:hover {
    color: #FF2E65;
}

.left_nav {
    width: 807px;
}

.right_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back {
    font-weight: 600;
    font-size: 16px;
    background: #FF2E65;
    border-radius: 8px;
    margin-left: 30px;
    color: white;
    align-items: center;
    display: flex;
}

.back svg {
    margin-left: 11px;
    margin-right: 14px;
}

.right_nav {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #696F7A;
}

.center {
    display: flex;
    align-items: center;
}

.center img:nth-child(1) {
    height: 457px;
}

.center img:nth-child(2) {
    width: 1490px;
}

.center img:nth-child(3) {
    height: 457px;
}

.tepe {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: 49px;
    margin-bottom: 27px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom img {
    width: 97px;
    height: 98px;
}

.bot-bot ul {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #9D9D9B;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
}

footer {
    margin-bottom: 55px;
}

.karbonara {
    display: flex;
    align-items: center;
    padding: 14px 17px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.raight_kar p {
    color: #FF2E65;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.raight_kar {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
    flex-direction: column;
}

.greed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    margin: 0 auto;
    grid-gap: 30px;
}

.perpel {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FF2E65;
    margin-top: 51px;
    margin-bottom: 26px;
}

.pizza {
    width: 256px;
}

.pizza h1 {
    margin-top: 4px;
    margin-bottom: 18px;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #0E0C0D;
}

.pizza span {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #686466;
}

.black {
    font-weight: bold;
    font-size: 22px;
    line-height: 19px;
    color: #231F20;
}

.flex {
    display: flex;
    align-items: center;
}

.go {
    padding: 4px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    border-radius: 23px;
}

.raight_kar span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

}

center h1 span {
    color: #FF2E65;
    ;
}

center h1 {
    margin-top: 68px;
    margin-bottom: 47px;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
}

.nth:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.raight_pp {
    display: flex;
    grid-gap: 30px;
    flex-direction: column;
}

.raight_pp div {
    display: flex;
    grid-gap: 30px;
}

.img {
    grid-gap: 30px;
    margin-bottom: 48.5px;
}

.imggg {
    width: 340px;
}

.imgg {
    width: 1066px;
}

center button {
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    padding: 10px 40px;
    background: #FF2E65;
    border-radius: 23px;
    margin-bottom: 72px;
}

.description {
    background-color: #E3ECF5;
}

.pay {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FF2E65;
    margin-top: 56px;
    margin-bottom: 63px;
}

.market p {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #473E43;
}

.market {
    display: flex;
    padding: 13px 22px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.03);
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    width: 255px;
    margin-bottom: 32px;
}

.market svg {
    position: relative;
    top: -32px;
    left: 4px;
}


.impp {
    width: 1364px;
    margin-bottom: 74px;
}

.end {
    margin-top: 56px;
    margin-bottom: 39px;
}

.description_end {
    display: flex;
}

.descript {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #0E0C0D;
    opacity: 0.85;
}

.description_end p:nth-child(1) {
    margin-right: 52px;
    margin-bottom: 23px;
}

.spn_discript {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #0E0C0D;
    margin-top: 15px;
    opacity: 0.7;
}

.ld {
    margin: 0;
    width: 485px;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
}

.bott {
    margin-bottom: 45px;
}

.osoba {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #0E0C0D;
    opacity: 0.8;
    margin-right: 171px;
}

.raight {
    margin-top: 56px;
    margin-bottom: 39px;
    width: 414px;
}

.camuni {
    align-items: stretch;
    justify-content: space-between;
}

.item {
    display: flex;
    justify-content: center;
    border: 2px solid #E3ECF5;
    box-sizing: border-box;
    border-radius: 13px;
    width: 100%;
    align-items: center;
}

.nth {
    grid-auto-rows: 52px;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(81px, 1fr));
}

.item img {
    height: 30px;
    width: 30px;
}

.item:nth-child(7) {
    grid-column: 3/5;
}

.ll {
    margin-left: 0px;
    margin-top: 47px;
    margin-bottom: 19px;
}

.question {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #0E0C0D;
    margin-bottom: 36px;
    text-transform: uppercase;
}

.left_ques {
    flex-direction: column;
    align-items: flex-start;
}

.r {
    width: 180px;
}

.end_end {}

.raight_question {
    position: absolute;
}

.raight_question img {
    position: relative;
    left: 100%;
}

.bef {
    position: absolute;
}

.krug {
    position: relative;
    top: -47px;
    left: 2px;
    background: #FFFFFF;
    border-radius: 100%;
    Width: 77px;
    Height: 77px;
}

.osd img {
    margin-right: 18px;
}